In [1]:
import pandas as pd

In [2]:
data_test=[['madhav',12],['adarsh',13],['akash',15],['kiran',]]

#to convert list into pandas dataframe
df_test=pd.DataFrame(data_test,columns=['name','age'])
df_test

     name   age
0  madhav  12.0
1  adarsh  13.0
2   akash  15.0
3   kiran   NaN

In [5]:
df_test.dropna(inplace=True)

In [6]:
df_test

     name   age
0  madhav  12.0
1  adarsh  13.0
2   akash  15.0